<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="CXT Automation Suite">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Dashboard Tests">
        <packages>
            <package name="dashboard"/>
        </packages>
    </test>

</suite>
